ac.rademihajlovic.pro {
	reverse_proxy /api* ac-api:3000
	reverse_proxy ac-cli:80
	handle /admin/* {
		reverse_proxy ac-admin-cli:4000
	}
}

ac.rademihajlovic.pro/admin {
	reverse_proxy /api* ac-api:3000
	reverse_proxy ac-admin-cli:4000
}