.navbar {
    box-shadow: 0 0.125rem 0.25rem rgba(2,6,23,.075);
}

.navbar .dropdown .dropdown-toggle:after {
    color: black;
    content: "\F282";
    font-family: bootstrap-icons !important;
    line-height: 1.5rem;
    margin-left: 0 !important;
}

.navbar .caret {
    position: absolute;
    top: 0.3rem;
}


.navbar .dropdown-menu {
    border-radius: 0 !important;
    box-shadow: 0 0.125rem 0.25rem rgba(2,6,23,.075);
}


@media only screen and (hover: none) and (pointer: coarse){
    .navbar {
        height: 180px !important;
        font-size: 2.5rem !important;
        .offcanvas {
            width: 60% !important;
            font-size: 2.5rem !important;
            a {
                font-size: 2.5rem !important;
            }
            .caret {
                display: none;
            }
            .dropdown .dropdown-toggle:after {
                display: none;
            }
        }
        .container {
            min-width: 100% !important;
            .logo {
                width: 160px !important;
            }
            .navbar-toggler {
                height: 100px;
                width: 100px;
                svg {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

}