.home {
    margin-top: 5rem !important;
}



@media only screen and (hover: none) and (pointer: coarse) {
    .home {
        margin-top: 12rem !important;
        font-size: 2.5rem;

        h2 {
            font-size: 4rem;
        }

        .container {
            min-width: 100% !important;
            padding: 0 2rem;

            .about-title {
                font-size: 2.5rem;
                text-align: center;
            }

            .btn-primary {
                height: 10rem;
                width: 80%;
                font-size: 3rem;
                padding-top: 2.5rem;
                padding-bottom: 3rem;
            }

            .service {
                width: 100%;
                margin-top: 2rem;

                .h4 {
                    font-size: 3.5rem;
                }

                img {
                    width: 7rem
                }
            }


        }

        .brands {
            width: 100%;
            .brands-title {
                font-size: 2.5rem !important;
            }

            .brand {
                width: 50%;
                padding: 2rem;
                img {
                    width: 70%;
                }
            }
        }
    }
}