.products-grid {
  margin-top: 6rem !important ;
}

.product {
  min-height: 250px;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 23% !important;
  .image-container {
    img {
     width: 100%;
    height: 170px;
    object-fit: cover;
        }
  }
}

.product:hover {
  transform: scale(1.05);

}

.product .title {
    margin-bottom: 3px;
    color: #000;
    font-weight: 600;
    opacity: 1;
    max-height: 3rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  .product .title-container {
    height: 3rem;
  }
.product .price {
  color: #000;
  opacity: 1;

}

.filter .form-control {
  border-radius: 0;
}

.filter .form-control:focus {
  box-shadow: none;
}

.filter .form-control:active {
  box-shadow: none;
}

.products .form-select {
  border-radius: 0;
}

.products .form-select:focus {
  box-shadow: none;
}

.products .form-select:active {
  box-shadow: none;
}

.products .form-select {
  width: 25% !important;
  height: 2.5rem;
  margin-left: 1rem;
}
.product-details {
  margin-top: 6rem;
  .image-container {
    width: 500px;
    height: 500px;
    img {
      width: 100%;
      display: block;
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .products-grid {
    margin-top: 12rem !important;
    min-width: 90% !important;
    .filter {
      display: none;
    }
    .products {
      width: 100% !important;
      overflow-y: scroll;
      .product {
        width: 100% !important;
        height: 1000px;
        margin-bottom: 3rem !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .image-container {
          img {
           width: 100%;
          height: 800px;
          object-fit: cover;
              }
        }
        .title-container {
          height: 150px;
          .title {
            font-size: 2.5rem;
          }

        }
        .price {
          font-size: 2.5rem !important;
        }
      }
    }

  }

  .product-details {
   font-size: 2.5rem;
   margin-top: 12rem !important;
   .container {
    min-width: 95% !important;
    .image-container {
      width: 100%;
      height: 500px;
      img {
        width: 100%;
        display: block;
      }
    }
   }
  h3 {
    font-size: 3.5rem;
  }
  .h4 {
    font-size: 3rem;
  }
  .stock {
    font-size: 2.5rem !important;
  }
}
}
