@import url("./styles/contact.scss");
@import url("./styles/header.scss");
@import url("./styles/footer.scss");
@import url("./styles/product.scss");
@import url("./styles/references.scss");
@import url("./styles/home.scss");
@import url("./styles/no-products.scss");
@import url("./styles/slider.scss");

#app {
	margin: 0;
}

body {
	margin: 0;
}

.model-loader {
	width: 100vw;
	height: calc(100vh - 50px);
	background-color: rgb(220,220,220);
	position: relative;
	display: flex;
	position: absolute;
	top: 50px;
	left: 0;
}

.model-loader__center {
	margin: auto;
}

.model-loader__message {
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
	margin-left: -20px;
}

.viewer__container{
	width: 100vw;
	height: calc(100vh - 50px);
	overflow: hidden;
	canvas{
		//width: 100% !important;
	}
}

.btn-primary {
	background-color: #7D0A0A;
	color: #fff;
	border: 1px solid #7D0A0A;
	border-radius: 0;
}
.btn-primary:hover {
	background-color: #fff;
	color: #7D0A0A;
	border: 1px solid #7D0A0A;
}